/* Estilos para o círculo do chatbot */
.chatbot-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4CAF50;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chatbot-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.chat-icon {
    font-size: 30px;
    color: white;
}

/* Estilos para o contêiner do chatbot */
.chatbot-container {
    width: 350px;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    transform: scale(0.8);
}

.chatbot-container.show {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

.chatbot-header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 20px;
}

.chatbot-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chatbot-footer {
    display: flex;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-btn:hover {
    background-color: #45a049;
}

/* Estilos para mensagens */
.user-message {
    background-color: #232423;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    align-self: flex-end;
    max-width: 80%;
}

.bot-message {
    background-color: #025c41;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    align-self: flex-start;
    max-width: 80%;
}
